<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="w-[20%] h-auto bg-neutral-50 rounded-[10px] flex justify-start items-start flex-col p-7">
        <h1 class="text-[25px] font-bold">Sidebar</h1>
        <ul class="w-full h-auto p-5">
            <a href="#"><li style="transition: 0.2s all ease; margin-top: 5px;" class="hover:bg-gray-300 p-2 rounded-[10px] mt-2"><i class="fa-solid fa-house" style="margin-right: 10px;"></i> Home</li></a>
            <a href="#"><li style="transition: 0.2s all ease; margin-top: 5px;" class="hover:bg-gray-300 p-2 rounded-[10px] mt-2"><i class="fa-solid fa-plus border-2 border-soli border-black p-[2px] rounded-sm" style="margin-right: 10px;"></i> Add</li></a>
            <a href="#"><li style="transition: 0.2s all ease; margin-top: 5px;" class="hover:bg-gray-300 p-2 rounded-[10px] mt-2"><i class="fa-solid fa-heart text-[22px]" style="margin-right: 10px;"></i> Activate</li></a>
            <a href="#"><li style="transition: 0.2s all ease; margin-top: 5px;" class="hover:bg-gray-300 p-2 rounded-[10px] mt-2"><i class="fa-solid fa-user text-[20px]" style="margin-right: 10px;"></i> Profile</li></a>
        </ul>
    </div>

</body>
</html>